mixin resources(list)
  - var alts = list.split('\n')

  .resources-block
    h4 resources:

    ul.resources

      for alt in alts
        - var name = alt.substring(0, alt.indexOf(':'))
        - var url = alt.substring(alt.indexOf(':') + 1)

        if name
          li
            a(href=url, target="_blank")= name
