// modal is invisible until
// sibling is focused
.modal {  
  opacity: 0;
  visibility: hidden;
}

// modal fades in when button 
// is in focus (i.e. clicked on)
button:focus + .modal {
  opacity: 1;
  visibility: visible;
}