// Modal hidden until it matches an anchor target 
// Note: you can't close it with the escape key 
// or trap focus inside of it.
.modal {
  opacity: 0;
  visibility: hidden;
}

// modal fades in when it matches
// an anchor link (i.e. clicked on)
#modalDialog:target {
  opacity: 1;
  visibility: hidden;
}