body {	
	background: linear-gradient(to right top, 
      $scroller-color 50%, 
      $scroller-background 50%);
	background-size: 100% calc(100% - 100vh + $scroller-height); 
	background-repeat: no-repeat;
}

body:before {
	content:'';
	position: fixed;
	top: $scroller-height;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: $body-background;
}