.tabs {
  position: relative;  
  // set height to be even for all tab groups
  min-height: 200px;
  clear: both;
}
.tab {
  float: left;
   
}
.tab label {
  left: 0;
  // set label height
  top: 1em;
}

.tab [type=radio] {
  display: none;   
}

.content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0;
}

[type=radio]:checked ~ label {
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}